@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$font-family: 'Source Sans Pro', sans-serif;
$base-font-size: 16;

$sidebar-full-width: 230;
$sidebar-min-width: 63;
$sidebar-bg-color: #2B3856;

$header-font-color: #c5d0de;

$collapse-size: 650px;